set -e
DIR=`pwd`
PATH_add ./.direnv/bin

if [ ! -d ".direnv/python" ]; then
python -m venv .direnv/python
source .direnv/python/bin/activate
pip install -r requirements.txt
python setup.py install
fi
source .direnv/python/bin/activate
